#hello {
    background-color: rgb(207, 206, 206);
    margin-bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
#hello .bold {
    font-weight: bold;
    color: red;
}
